<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="io.mosip.test.mob.inji.listeners.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="android">
        <parameter name="platformName" value="ANDROID"/>
        <classes>
            <class name="io.mosip.test.mob.inji.androidTestCases.VcDownloadAndVerifyUsingUinTest">
                <methods>
                    <include name="downloadAndVerifyVcUsingUin"/>
                    <include name="downloadWithEmptyUin"/>
                    <include name="generateMultipleVcWithSameUin"/>
                    <include name="downloadMultipleVcUsingDifferentUin"/>
                    <include name="verifyInvalidUinErrorMessage"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.VerifyWelcomePagesTest">
                <methods>
                    <include name="verifyWelcomePagesContent"/>
                    <include name="verifyWelcomePagesFromInjiTourGuide"/>
                    <include name="verifyGoBackFromInjiTourGuide"/>
                    <include name="verifyClickOnBackFromInjiTourGuide"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.VcDownloadAndVerifyUsingVidTest">
                <methods>
                    <include name="downloadAndVerifyVcUsingVid"/>
                    <include name="downloadTwoVcDeleteUsingVid"/>
                    <include name="verifyInvalidVidErrorMessage"/>
                    <include name="downloadAndVerifyVcUsingRevokeVid"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.UnlockWithPasscodeTest">
                <methods>
                    <include name="logoutAndLoginWithPasscode"/>
                    <include name="loginWithInvalidPasscode"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.VerifyHelpPageTest">
                <methods>
                    <include name="verifyHelpPage"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.DeletingVcTest">
                <methods>
                    <include name="deleteVcAndVerifyInHistory"/>
                    <include name="cancelDeleteVc"/>
                    <include name="DownloadingDeletedVc"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.VerifyHistoryTest">
                <methods>
                    <include name="generateAndVerifyHistory"/>
                    <include name="verifyActivationFailedRecordInHistory"/>
                    <include name="verifyActivationFailedRecordInHistoryFromDetailedView"/>
                    <include name="activateVcAndVerifyInHistory"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.GenerateUinOrVidTest">
                <methods>
                    <include name="generateUinOrVidUsingAid"/>
                    <include name="goBackToGenerateUinOrVidUsingAidFromOtpVerificationPage"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.ActivateVcTest">
                <methods>
                    <include name="activateVc"/>
                    <include name="noPreDownloadedVCAndNoHistoryInFreshInstallation"/>
                    <include name="verifyInvalidOtpMessage"/>
                    <include name="verifyTuvaliVersion"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.PinVcTest">
                <methods>
                    <include name="pinVc"/>
                    <include name="VerifyCameraAfterPinVc"/>

                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.ChangeLanguageTest">
                <methods>
                    <include name="changeLanguage"/>
                    <include name="languageShouldBeInNativeLanguages"/>
                    <include name="changeLanguage"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.ShareVcTest">
                <methods>
                    <include name="noCardsAvailableToShare"/>
                    <include name="verifyReceivedCardTabPresent"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.NoNetworkAndroidTest">
                <methods>
                    <include name="setupPasscodeAndDownloadCardWithoutInternet"/>
                    <include name="openCameraOnFlightMode"/>
                    <include name="activateVcWithoutInternet"/>
                    <include name="verifyListOfLanguagesInOfflineMode"/>
                    <include name="deleteDownloadedVcInOfflineMode"/>
                    <include name="verifyHelpPageOfflineMode"/>
                    <include name="openQrOffline"/>
                    <include name="verifyRecivedCardOffline"/>
                    <include name="downloadCardWithoutInternetRetryWithInternet"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.CredentialRegistryTest">
                <methods>
                    <include name="downloadAndVerifyVcInNewEnv"/>
                    <include name="cancelChangeEnvAndVerify"/>
                    <include name="generateUinInNewEnv"/>
                    <include name="downloadAndVerifyVcInInvalidEnv"/>
                    <include name="retrivingUinInNewEnv"/>
                    <include name="retrivingUinInOtherEnv"/>
                    <include name="downloadAndVerifyVcInTwoEnv"/>
                    <include name="downloadVcAndActivateItInOtherEnv"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.ChangeLanguageTest">
                <methods>
                    <include name="changeLanguage"/>
                    <include name="changeLanguageToArabic"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.androidTestCases.ReceiveCardTest">
                <methods>
                    <include name="verifyRecivedCardAndQrCode"/>
                    <include name="verifyRecivedCardAndQrCodeInFilipinoLanguage"/>
                </methods>
            </class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="ios">
        <parameter name="platformName" value="IOS"/>
        <classes>
            <class name="io.mosip.test.mob.inji.iosTestCases.VcDownloadAndVerifyUsingUinTest">
                <methods>
                    <include name="downloadAndVerifyVcUsingUin"/>
                    <include name="downloadWithEmptyUin"/>
                    <include name="generateMultipleVcWithSameUin"/>
                    <include name="downloadMultipleVcUsingDifferentUin"/>
                    <include name="verifyInvalidUinErrorMessage"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.iosTestCases.VerifyWelcomePagesTest">
                <methods>
                    <include name="verifyWelcomePagesContent"/>
                    <include name="verifyWelcomePagesFromInjiTourGuide"/>
                    <include name="verifyGoBackFromInjiTourGuide"/>
                    <include name="verifyClickOnBackFromInjiTourGuide"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.iosTestCases.VcDownloadAndVerifyUsingVidTest">
                <methods>
                    <include name="downloadAndVerifyVcUsingVid"/>
                    <include name="downloadTwoVcDeleteUsingVid"/>
                    <include name="verifyInvalidVidErrorMessage"/>
                    <include name="downloadAndVerifyVcUsingRevokeVid"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.iosTestCases.UnlockWithPasscodeTest">
                <methods>
                    <include name="logoutAndLoginWithPasscode"/>
                    <include name="loginWithInvalidPasscode"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.iosTestCases.VerifyHelpPageTest">
                <methods>
                    <include name="verifyHelpPage"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.iosTestCases.DeletingVcTest">
                <methods>
                    <include name="deleteVcAndVerifyInHistory"/>
                    <include name="cancelDeleteVc"/>
                    <include name="DownloadingDeletedVc"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.iosTestCases.VerifyHistoryTest">
                <methods>
                    <include name="generateAndVerifyHistory"/>
                    <include name="verifyActivationFailedRecordInHistory"/>
                    <include name="verifyActivationFailedRecordInHistoryFromDetailedView"/>
                    <include name="activateVcAndVerifyInHistory"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.iosTestCases.GenerateUinOrVidTest">
                <methods>
                    <include name="generateUinOrVidUsingAid"/>
                    <include name="goBackToGenerateUinOrVidUsingAidFromOtpVerificationPage"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.iosTestCases.ActivateVcTest">
                <methods>
                    <include name="activateVc"/>
                    <include name="noPreDownloadedVCAndNoHistoryInFreshInstallation"/>
                    <include name="verifyInvalidOtpMessage"/>
                    <include name="verifyTuvaliVersion"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.iosTestCases.PinVcTest">
                <methods>
                    <include name="pinVc"/>
                    <include name="VerifyCameraAfterPinVc"/>

                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.iosTestCases.ChangeLanguageTest">
                <methods>
                    <include name="changeLanguage"/>
                    <include name="languageShouldBeInNativeLanguages"/>
                    <include name="changeLanguage"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.iosTestCases.ChangeLanguageTest">
                <methods>
                    <include name="changeLanguage"/>
                    <include name="changeLanguageToArabic"/>
                </methods>
            </class>
            <class name="io.mosip.test.mob.inji.iosTestCases.ReceiveCardTest">
                <methods>
                    <include name="verifyRecivedCardAndQrCode"/>
                    <include name="verifyRecivedCardAndQrCodeInFilipinoLanguage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

